.cart__tablecontainer {
  background-color: #eaeaea;
  padding: 10px;
}

.cart__tablecontainer table {
  width: 80%;
}

.cart__tablecontainer table > tbody > tr > td,
.cart__tablecontainer table > tbody > tr > th,
.cart__tablecontainer table > tfoot > tr > td,
.cart__tablecontainer table > tfoot > tr > th,
.cart__tablecontainer table > thead > tr > td,
.cart__tablecontainer table > thead > tr > th {
  border: none;
}

.cart__tablecontainer table > tfoot {
  border-top: 2px solid #033649;
}

.buy__button {
  background-color: #036564;
  color: white;
}

.buy__button:hover {
  background-color: #033649;
  color: white;
}
