.products__departmentheader {
  margin-left: 0.5em;
  color: #033649;
}

.products__products {
  background-color: #eaeaea;
  justify-content: space-around;
  margin: 0 1em 0 1em;
  min-width: 300px;
  padding: 1em;
}
