.order__productdropdown {
  padding: 5px;
  background-color: #eaeaea;
  border-radius: 0px;
  width: 250px;
}

.order__productdropdown div {
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
}

.order__productdropdown a {
  color: inherit;
  text-decoration: none;
}

.order__productdropdown div:last-of-type {
  border-bottom: none;
}
