.carousel {
  padding: 0;
}

.product__spinner {
  position: fixed;
  right: calc(50% - (200px / 2));
  z-index: 1000;
}

.product__container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

.product__image {
  background-color: white;
  height: 400px;
  width: 350px;
  /*border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;*/
}

.slide-icon {
  filter: invert(100%);
}

.product-details {
  background-color: #eaeaea;
  border: 2px solid #036564;
  border-left: none;
  height: 400px;
  padding: 20px;
  position: relative;
  width: 400px;
}

.product__deal-price {
  color: green;
}

.quantity-buttons {
  background-color: #036564;
  color: white;
}

.quantity-buttons:hover {
  background-color: #033649;
  color: white;
}

.product__quantity {
  border-radius: 0;
  width: 40px;
}

.buy-buttons {
  bottom: 20px;
  left: 20px;
  position: absolute;
}

.buy-buttons button {
  background-color: #036564;
  color: white;
  display: inline-block;
  margin-right: 10px;
}

.buy-buttons button:hover {
  background-color: #033649;
  color: white;
}

@media only screen and (max-width: 633px) {
  .product-details {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
  }
}

@media only screen and (max-width: 527px) {
  .product__container {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: 426px) {
  .buy-buttons button {
    margin: 2px;
  }
}

@media only screen and (max-width: 390px) {
  .product__image {
    height: 370px;
  }
  .product-details {
    height: 370px;
  }
}
