.flex-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding-bottom: 250px;
  position: relative;
}

.search {
  margin: 10px auto;
  margin-bottom: 40px;
}

.search__input {
  background-color: #036564;
  border: 1px solid black;
  color: white;
}

.search__input:focus {
  background-color: #036564;
  color: white;
}

.search__input::placeholder {
  color: white;
  opacity: 0.6;
}

.search__button {
  background-color: #036564;
  min-width: 40px;
  width: 100%;
}

.search__button:hover {
  background-color: #033649;
}

.department__dropdown {
  background-color: #d4cebe;
  border: 1px solid #033649;
  padding: 0px;
}

.department__dropdown button:hover {
  background-color: #036564;
  color: white;
}

.department {
  border-bottom: 1px solid #033649;
  color: #033649;
  font-weight: bold;
  padding: 0.5em;
}

.department:last-of-type {
  border: none;
}

.department a {
  color: #033649;
}

.home__dealsheader {
  margin-left: 0.5em;
}

.home__deals {
  border: 2px solid #036564;
  background-color: #d4cebe;
  border-radius: 0.3em;
  justify-content: space-around;
  margin: 0 1em 1em 1em;
  min-width: 300px;
  padding: 1em;
}

.home__productsheader {
  margin-left: 0.5em;
}

.home__products {
  background-color: #d4cebe;
  border: 2px solid #036564;
  border-radius: 0.3em;
  justify-content: space-around;
  margin: 0 1em 0 1em;
  min-width: 300px;
  padding: 1em;
}

.card {
  background-color: #036564;
  color: white;
  float: left;
  height: 330px;
  margin: 0px 10px 15px 10px;
  min-width: 240px;
  width: 15%;
}

.card img {
  border: 1px solid #033649;
  margin: 10px auto;
  margin-bottom: 0px;
  border-radius: 0.3em;
  width: 90%;
}

.card a {
  color: white;
  text-decoration: none;
}

.price {
  color: red;
  display: inline;
  margin: 0px 5px;
  text-decoration: line-through;
}

.dealprice {
  color: white;
  display: inline;
  font-weight: bold;
  margin: 0px 5px;
}

.description {
  color: white;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
