.flex-wrapper {
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding-bottom: 250px;
  position: relative;
}

.home__banner {
  display: block;
  margin: 0 auto;
  width: 45%;
  height: auto;
}

.home__dealsheader {
  color: #033649;
  margin-left: 0.5em;
}

.home__deals {
  background-color: #eaeaea;
  justify-content: space-around;
  margin: 0 1em 1em 1em;
  min-width: 300px;
  padding: 1em;
}

.home__productsheader {
  color: #033649;
  margin-left: 0.5em;
}

.home__products {
  background-color: #eaeaea;
  justify-content: space-around;
  margin: 0 1em 0 1em;
  min-width: 300px;
  padding: 1em;
}

.card {
  background-color: #036564;
  color: white;
  flex-grow: 1.1;
  float: left;
  height: 330px;
  margin: 0px 10px 15px 10px;
  min-width: 220px;
  max-width: 300px;
  width: 15%;
}

.card__imagecontainer {
  background-color: white;
  border: 1px solid #033649;
  border-radius: 0.3em;
  margin: 10px auto;
  margin-bottom: 0px;
  position: relative;
  width: 90%;
}

.card img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  padding: 3px;
}

.card a {
  color: white;
  text-decoration: none;
}

.price {
  color: red;
  display: inline;
  margin: 0px 5px;
  text-decoration: line-through;
}

.dealprice {
  color: white;
  display: inline;
  font-weight: bold;
  margin: 0px 5px;
}

.description {
  color: white;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media only screen and (max-width: 1400px) {
  .home__banner {
    width: 60%;
  }
}

@media only screen and (max-width: 940px) {
  .home__banner {
    width: 85%;
  }

  .flex-wrapper {
    padding-bottom: 380px;
  }
}

@media only screen and (max-width: 480px) {
  .home__banner {
    width: 100%;
  }

  .flex-wrapper {
    padding-bottom: 250px;
  }
}
