.navbar {
  border-bottom: 2px solid #036564;
  padding: 0px;
  background-color: #d4cebe;
  margin-bottom: 40px;
}

.navbar a {
  text-decoration: none;
}

.navbar__title {
  left: 2%;
  font-size: 2em;
  color: #033649;
}

.navbar__cart {
  background-color: #036564;
  color: white;
  float: right;
}

.navbar__cart:hover {
  background-color: #033649;
  color: white;
}

.navbar__avatar {
  border-radius: 50%;
  float: right;
  outline: none;
}

.navbar__avatar img {
  border-radius: 50%;
  height: 75px;
  width: 75px;
}

.navbar__avatar:active {
  border-style: outset;
}
