.navbar {
  padding: 0px;
  background-color: #eaeaea;
  margin-bottom: 40px;
}

.navbar a {
  text-decoration: none;
}

.navbar__title {
  left: 2%;
  font-size: 2em;
  color: #033649;
}

.navbar__cart {
  position: relative;
  background-color: #036564;
  color: white;
  float: right;
}

.navbar__cart:hover {
  background-color: #033649;
  color: white;
}

.cart__counter {
  position: absolute;
  top: 20px;
  left: 30px;
  display: block;
  z-index: 1000;
}

.cart__counter p {
  align-self: center;
  display: block;
  background-color: darkred;
  padding: 0;
  border-radius: 50%;
  width: 25px;
}

.navbar__avatar {
  border-radius: 50%;
  float: right;
  outline: none;
}

.navbar__avatar img {
  border: 1px solid #033649;
  border-radius: 50%;
  height: 75px;
  width: 75px;
}

.navbar__avatar:active,
.navbar__avatar:focus {
  outline: none !important;
  box-shadow: none;
}

.navbar__dropdown {
  background-color: #eaeaea;
  border-radius: 0;
  right: 0px;
  left: auto;
}

.button__logout:active {
  outline: none !important;
  box-shadow: none;
}
