.register {
  border-radius: 0.3em;
  margin-top: 100px;
  padding: 1.5em;
  background-color: #eaeaea;
}

.register label {
  color: #033649;
}

.register h2 {
  color: #033649;
  margin-top: -80px;
  margin-bottom: 40px;
}
.register input {
  background-color: #036564;
  color: white;
}

.register input::placeholder {
  color: white;
  opacity: 0.7;
}

.register input:focus {
  background-color: #036564;
  color: white;
}

.register p {
  margin-top: 1em;
  color: #033649;
}

.register button {
  background-color: #036564;
  color: white;
}

.register button:hover {
  background-color: #033649;
  color: white;
}

@media only screen and (min-height: 1000px) {
  .register {
    margin-top: 200px;
  }
}
