.footer {
  background-color: #d4cebe;
  border-top: 2px solid #036564;
  bottom: 0;
  justify-content: space-evenly;
  left: 0;
  margin-top: 40px;
  padding-top: 10px;
  position: absolute;
  width: 100%;
}

.footer__container {
  padding: 0px auto;
  margin: 10px;
}

.footer__section {
  min-width: 230px;
  margin: auto;
}

.footer__section ul {
  list-style-type: none;
}

.footer h4,
li {
  color: #033649;
}

.footer i {
  margin: 0px 10px 0px 0px;
}

.display__list {
  padding: 2px;
  color: #036564;
}

@media only screen and (max-width: 479px) {
  .footer_ul {
    display: none;
  }
}
