.login {
  border-radius: 0.3em;
  margin-top: 120px;
  padding: 1.5em;
  background-color: #eaeaea;
}

.login h2 {
  color: #033649;
  margin-top: -80px;
  margin-bottom: 40px;
}

.login label {
  color: #033649;
}

.login input {
  background-color: #036564;
  color: white;
}

.login input::placeholder {
  color: white;
  opacity: 0.7;
}

.login input:focus {
  background-color: #036564;
  color: white;
}

.login p {
  margin-top: 1em;
  color: #033649;
}

.login button {
  background-color: #036564;
  color: white;
}

.login button:hover {
  background-color: #033649;
  color: white;
}

@media only screen and (min-height: 1000px) {
  .login {
    margin-top: 200px;
  }
}
